/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}
.App-logo {
    width: 40px;
    margin-right: 7px;
}
.header {
    background-color: #21222a;
    display: flex;
    padding: 30px 25px;
    height: 70px;
    align-items: center;
    color: white;
}
.logo-title {
    color: #61dafb;
    margin-right: auto;
}
